   /* style.css */

   body {
    background-color: #171616;
    color: #989694;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    /* background-color: #333; */
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
}

main {
    padding: 1vh 5vw;
}

h1 {
    /* font-family: 'Bokor', sans-serif; */
    font-size: 1.6rem;
    font-size: 15vw;
    font-weight: 100;
    margin:.5em 0 .5em 0;
    color: #efe8e8;
    letter-spacing:0;
    line-height:1em;
 
}
ul{
    margin-left:0;
    padding: 0 0 0 20px;
}
p {
    font-size: 1.2em;
    color: #c8c8c8;
    max-width: 25em;
}

a {
    text-decoration: underline dotted;
    color: #c8c8c8;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #a0a0a0;
}