   /* style.css */

   body {
    background-color: #171616;
    color: #989694;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    /* background-color: #333; */
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
}

main {
    padding: 3rem;
}

h1 {
    font-family: 'Bokor', sans-serif;
    font-size: 6.4rem;
    margin-bottom:0em;
    color: #514949;
 
}

p {
    font-size: 1.2em;
    color: #c8c8c8;
    max-width: 25em;
}

a {
    text-decoration: underline dotted;
    color: #c8c8c8;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #a0a0a0;
}